<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cinephilia</title>
</head>
<body>
    <div class="jumbotron">
        <h1 class="display-4">Hello, {{user.name}} Share Your Favorite Movies With The Whole World!</h1>
        <p class="lead">Cinephilia also cinemaphilia, or filmophilia is 
        the term used to refer to a passionate interest in films, film theory, 
        and film criticism. The term is a portmanteau of the words cinema and philia, 
        one of the four ancient Greek words for love. A person with a passionate 
        interest in cinema is called a cinephile, cinemaphile, filmophile, 
        or, informally, a film buff.</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="/profile/{{user._id}}" role="button">Go To Profile</a>
    </div>
</body>
</html>